<!-- -->
<launch>
    <arg name="input_file_name" default="/home/sit/load_data/sibusawa/rainbow/3-odaka-kinenkan/saved_waypoints.csv" />
    <arg name="output_file_name" default="/home/sit/load_data/sibusawa/rainbow/3-odaka-kinenkan/move.csv" />

    <node pkg="waypoint_maker" type="straight_line_fix" name="straight_line_fix" output="screen">
        <param name="input_file_name" value="$(arg input_file_name)" />
        <param name="output_file_name" value="$(arg output_file_name)" />
    </node>
</launch>
