<!-- -->
<launch>
  <arg name="use_ll2" default="true" />

<group if="$(arg use_ll2)">

  <node pkg="lane_planner" type="lane_rule_lanelet2" name="lane_rule_lanelet2" output="screen">
    </node>		   
</group>

<group unless="$(arg use_ll2)">

  <node pkg="lane_planner" type="lane_rule_waypoint" name="lane_rule_waypoint" output="screen">
  </node>
</group>

</launch>
